<%- include('header'); -%>
<img
  id="home-pg-img"
  src="https://img.etimg.com/thumb/msid-65540338,width-300,imgsize-155795,,resizemode-4,quality-100/bank-thinkstock.jpg"
  alt="net-banking"
/>
<div class="container">
  <h2>Our Services</h2>
  <p><%= homeStartingContent %></p>
  <h2>About Us</h2>
  <p><%= aboutContent %></p>
  <h2>Contact Us</h2>
  <p><%= contactContent %></p>
</div>

<%- include('footer'); -%>
